.App {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.med-gap {
  gap: 0.5rem;
}

.lg-left-margin {
  margin-left: 2rem;
}

.no-padding {
  padding: 0rem;
}

.no-bottom-margin {
  margin-bottom: 0rem;
}

.sm-radius {
  border-radius: 0.75rem;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  font-size: x-large;
}

.sm-text {
  font-size: small;
}

a:pointer {
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

h1 {
  font-weight: bolder;
  text-decoration: underline;
}

.subheading {
  font-size: large;
}

.subheading:hover {
  cursor: pointer;
  color: blue;
}

.toggle-btn {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.5px;
  border-radius: 50%;
  height: 1rem;
  width: 1rem
}

.toggle-btn:hover {
  background-color: lightslategray;
}

.grid-naming {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.flex-right-center {
  display: flex;
  justify-content: right;
  align-items: center;
}