.App {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.med-gap {
  gap: 0.5rem;
}

.lg-left-margin {
  margin-left: 2rem;
}

.sm-radius {
  border-radius: 0.75rem;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}

.sm-text {
  font-size: small;
}

a:pointer {
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}